Microsoft.Flow/flows/3d74ce1c-64fb-421c-9d2d-f7433c9ebdab/definition.json
{"name":"c5289d72-a985-4559-8d8c-e79fc6f955d5","id":"/providers/Microsoft.Flow/flows/c5289d72-a985-4559-8d8c-e79fc6f955d5","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Create Task","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"6e1403e3-b93b-4da8-8d15-9007b12fe4f5","type":"User","tenantId":"258f1f99-ee3d-42c7-bfc5-7af1b2343e02"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2024-06-20T17:28:17.8926763Z","connectionKeySavedTimeKey":"2024-06-20T17:28:17.8926763Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"When_an_item_is_created":{"recurrence":{"frequency":"Minute","interval":1},"splitOn":"@triggerOutputs()?['body/value']","type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://054gc.sharepoint.com/sites/dadatlanticregionrdc-dadcdrregionatlantique-SANDBOX","table":"9fac32b3-6e7f-4501-b805-db50317c0cd3","view":"7c8e86f8-dd6c-45c1-a0ab-752983f57ddb"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetOnNewItems"},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_item":{"runAfter":{},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://054gc.sharepoint.com/sites/dadatlanticregionrdc-dadcdrregionatlantique-SANDBOX","table":"9fac32b3-6e7f-4501-b805-db50317c0cd3","id":"@triggerBody()?['ID']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"authentication":"@parameters('$authentication')"}},"Security_Clearance_Branch":{"actions":{"Security_Clearance_Task":{"type":"OpenApiConnection","inputs":{"parameters":{"folderId":"AAMkADFjZTAwZTljLWZiNTMtNDk2Ny04OWQ4LTNhZWE5MGY2Y2UzYgAuAAAAAAAgoqWn-gzlQr2Zo2xbMM0rAQDLEVu7HUgdRKrhQcPMHa_yAAOFm-AfAAA=","body/title":"@{body('Get_item')?['RDC']}, @{body('Get_item')?['AssignTask']?['Value']} (Note: @{body('Get_item')?['Comments_x002f_Notes']})","body/importance":"@body('Get_item')?['Importance']","body/body/content":"<p>RDC: @{body('Get_item')?['RDC']}</p><br><p>Task: @{body('Get_item')?['AssignTask']?['Value']}</p><br><p><a href=\"https://054gc-my.sharepoint.com/:w:/r/personal/chang_lin_statcan_gc_ca/Documents/East%20Coast%20Centers/Weekly%20Meetings/Guide%20to%20Processing%20RDC%20Security%20Clearances%20(Revised_R%C3%A9vis%C3%A9%202024-05)-EN.docx?d=w4d7ef0acbb0c4a5d8b4728d59e636469&amp;csf=1&amp;web=1&amp;e=sqbsSx\">Instructions</a></p><br><p>Original message:</p><br><p>Contact: @{body('Get_item')?['From']}</p><br><p>@{body('Get_item')?['Body']}</p>"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_todo","connectionName":"shared_todo","operationId":"CreateToDoV3"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Get_item":["Succeeded"]},"else":{"actions":{}},"expression":{"and":[{"equals":["@body('Get_item')?['AssignTask']?['Value']","Security Clearance"]}]},"type":"If"},"Amendment_Branch":{"actions":{"Amendment_Task":{"type":"OpenApiConnection","inputs":{"parameters":{"folderId":"AAMkADFjZTAwZTljLWZiNTMtNDk2Ny04OWQ4LTNhZWE5MGY2Y2UzYgAuAAAAAAAgoqWn-gzlQr2Zo2xbMM0rAQDLEVu7HUgdRKrhQcPMHa_yAAOFm-AfAAA=","body/title":"@{body('Get_item')?['RDC']}, @{body('Get_item')?['AssignTask']?['Value']} (Note: @{body('Get_item')?['Comments_x002f_Notes']})","body/importance":"@body('Get_item')?['Importance']","body/body/content":"<p>RDC: @{body('Get_item')?['RDC']}</p><br><p>Task: @{body('Get_item')?['AssignTask']?['Value']}</p><br><p><a href=\"https://054gc-my.sharepoint.com/:w:/r/personal/chang_lin_statcan_gc_ca/Documents/East%20Coast%20Centers/Weekly%20Meetings/Guide%20to%20Managing%20and%20Amending%20RDC%20Contracts%20(Revised_R%C3%A9vis%C3%A9%202024-02)-EN.docx?d=w035304abc05f47848c3b7b8057201d4c&amp;csf=1&amp;web=1&amp;e=IJQSGZ\">Instructions</a></p><br><p><a href=\"https://054gc-my.sharepoint.com/:w:/r/personal/chang_lin_statcan_gc_ca/Documents/East%20Coast%20Centers/Weekly%20Meetings/Amendment%20Request%20Forms%20(Revised_R%C3%A9vis%C3%A9%202023-10)-EN.docx?d=w031eca2994c5426aaf92dd34052f8ebd&amp;csf=1&amp;web=1&amp;e=eYYtQb\">Amendment Request Form</a></p><br><p><a href=\"https://054gc-my.sharepoint.com/:w:/r/personal/chang_lin_statcan_gc_ca/Documents/East%20Coast%20Centers/Weekly%20Meetings/Amendment%20Request%20Forms_CEN2021SexGenderModule.docx?d=wd922301a60014b61a145cb7b613b3886&amp;csf=1&amp;web=1&amp;e=8EGV88\">Amendment Request Form (Census sex/gender module)</a></p><br><p><a href=\"https://054gc-my.sharepoint.com/:b:/r/personal/chang_lin_statcan_gc_ca/Documents/East%20Coast%20Centers/Weekly%20Meetings/Amendment%20Form%20E_2024-06-18.pdf?csf=1&amp;web=1&amp;e=YCu2Vj\">Amendment Form</a></p><br><p>Original message below:</p><br><p>Contact info: @{body('Get_item')?['From']}</p><br><p>@{body('Get_item')?['Body']}</p>"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_todo","connectionName":"shared_todo","operationId":"CreateToDoV3"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Get_item":["Succeeded"]},"else":{"actions":{}},"expression":{"and":[{"equals":["@body('Get_item')?['AssignTask']?['Value']","Amendment"]}]},"type":"If"},"Vetting_Branch":{"actions":{"Vetting_Task":{"type":"OpenApiConnection","inputs":{"parameters":{"folderId":"AAMkADFjZTAwZTljLWZiNTMtNDk2Ny04OWQ4LTNhZWE5MGY2Y2UzYgAuAAAAAAAgoqWn-gzlQr2Zo2xbMM0rAQDLEVu7HUgdRKrhQcPMHa_yAAOFm-AfAAA=","body/title":"@{body('Get_item')?['RDC']} - @{body('Get_item')?['AssignTask']?['Value']}","body/importance":"high","body/body/content":"<p>Contact: @{body('Get_item')?['From']}</p><br><p>@{body('Get_item')?['Subject']}</p><br><p>@{body('Get_item')?['Body']}</p>","body/isReminderOn":true},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_todo","connectionName":"shared_todo","operationId":"CreateToDoV3"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Get_item":["Succeeded"]},"else":{"actions":{}},"expression":{"and":[{"equals":["@body('Get_item')?['AssignTask']?['Value']","Vetting"]}]},"type":"If"},"Follow-up":{"actions":{"Follow-up_Task":{"type":"OpenApiConnection","inputs":{"parameters":{"folderId":"AAMkADFjZTAwZTljLWZiNTMtNDk2Ny04OWQ4LTNhZWE5MGY2Y2UzYgAuAAAAAAAgoqWn-gzlQr2Zo2xbMM0rAQDLEVu7HUgdRKrhQcPMHa_yAAOFm-AfAAA=","body/title":"@{body('Get_item')?['RDC']} - @{body('Get_item')?['AssignTask']?['Value']} (Note: @{body('Get_item')?['Comments_x002f_Notes']})","body/importance":"@body('Get_item')?['Importance']","body/body/content":"<p>Follow up needed!</p><br><p>Contact: @{body('Get_item')?['From']}</p><br><p>@{body('Get_item')?['Subject']}</p><br><p>@{body('Get_item')?['Body']}</p><br><br>","body/isReminderOn":true},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_todo","connectionName":"shared_todo","operationId":"CreateToDoV3"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Get_item":["Succeeded"]},"else":{"actions":{}},"expression":{"and":[{"equals":["@body('Get_item')?['AssignTask']?['Value']","Follow-up Needed"]}]},"type":"If"}},"outputs":{}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"6633420acae7401a938e280a54fd0747","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"},"shared_todo":{"connectionName":"shared-todo-42e1a46c-09f2-489d-86e9-2c010dbd593d","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_todo","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}